<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Gestion des taches </title>

    <style>
        /* sera ajouté automatiqement par htm */
        .htmx-swapping {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
</head>
<body class="bg-gray-100">
    <nav class="flex items-center justify-center px-20 py-6 text-center bg-white shadow-md sm:text-xs "> <!-- bg-gradient-to-r from-cyan-500 to-sky-500-->
        <p class="text-2xl  font-extrabold mr-10 ">|BMC</p>
        <p class="text-2xl font-extrabold text-blue-600 ml-10 ">Gestion des taches</p>
        
        <!-- <span class="text-2xl  font-extrabold mx-auto ml-52 ">|BMC</span> -->
    </nav>

    <div class="w-4/5 my-6 mx-auto p-2 lg:p-10 bg-white shadow-md rounded-xl">
        <form
         class="flex mb-6 space-x-4"
         hx-post="/add-todo/"
         hx-target="#todos"
         hx-swap="afterend"
         >
            <input type="text" name="title" class="title flex-1 px-4 py-3 bg-gray-200 rounded-xl" placeholder="Le titre">

            <button class=" p-3 rounded-xl text-white bg-blue-600 hover:bg-cyan-500">+</button>
        
        </form>

        <div class="flex py-3 rounded-xl bg-gray-100">
            <div class="w-4/5">
                <p class="px-6 text-xs font-medium text-gray-500 uppercase">Titre</p>
            </div>

            <div class="hidden md:block w-1/5 px-6 text-right">
                <p class="text-xs font-medium text-gray-500 uppercase">Actions</p>
            </div>
        </div>
        
        <div class="divide-y divide-gray-200" id="todos">
            {% for todo in todos %}
                {% include 'list_taches/partials/tache.html' %}

            {% endfor %}
            <!-- <article class="flex">
                <div class="w-4/5 py-3">
                    <p class="px-6 text-xs text-gray-900">The todo title</p>
                </div>

                <div class="w-1/5 px-6 py-3 flex justify-en space-x-4">
                    <a href="" class="text-sky-600 hover:text-sky-900">
                        Edit
                    </a>
                    <a href="" class="text-sky-600 hover:text-sky-900">
                        Delete
                    </a>

                </div>
            </article> -->
        </div>
        
    </div> 

</body>
<script src="https://cdn.tailwindcss.com"></script>
<script  src="https://unpkg.com/htmx.org@1.9.5"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken']= '{{ csrf_token }}';
    });

    // to reset
    document.body.addEventListener('htmx:afterRequest', (event) => {
        document.querySelector("input.title").value = '';
    });


</script>
<!-- <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script> -->
</html>